@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SUITE-Regular";
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 50px;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  top: 0;
}

.recommendtext {
  color: #9bd1dd;
}

.right {
  display: flex;
  gap: 40px;
}

.title {
  margin-left: 45px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #9bd1dd;
}

.first > img {
  width: 317px;
  height: 193px;
  border-radius: 10px;
}
.placename {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit {
  padding: 7px 16px;
  border-radius: 10px;
  background: #9bd1dd;
  color: #fff;
  border: 0;
  position: fixed;
  left: 90%;
  bottom: 10%;
}

.explain {
  width: 335px;
  height: 150px;
}

.secondSide,
.firstSide {
  display: flex;
  justify-content: center;
  gap: 175px;
}

.secondSide {
  margin-top: 100px;
  background-clip: border-box;
  background: rgba(220, 228, 237, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}

.title {
  margin: 180px 0px 50px 260px;
  color: #9bd1dd;
}
.first {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 25px 35px;
  gap: 34px;
}

.empty {
  width: 317;
  height: 193px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background: #eee;
}

.isFooter {
  width: 100%;
  border: 30px white solid;
}
