@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SUITE-Regular";
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 50px;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  top: 0;
  z-index: 1;
}

.recommendtext {
  color: #9bd1dd;
}

.right {
  display: flex;
  gap: 40px;
}

.backKey {
  display: flex;
  margin-top: 200px;
  margin-left: 250px;
  font-size: 30px;
  font-weight: normal;
}

.backKey > a {
  text-decoration: none;
  color: black;
}

.mainBody {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  background-color: #d9d9d9;
}

h1 {
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: normal;
}

.infoWarp {
  margin-left: 50px;
  width: 850px;
}

.mainBody > img,
.even-Body > img {
  width: 425px;
  height: 497px;
  cursor: pointer;
}

.infoWarp > .address,
.end > .address {
  margin: 12px 0px 8px 4px;
}

.writing {
  margin-left: 4px;
  font-size: 20px;
  margin-bottom: 16px;
  height: 135px;
}

.commend {
  height: 90px;
  border: 1px solid #d9d9d9;
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 30px;
}

.commend > a {
  text-decoration: none;
  color: #000;
}

.profile,
.profile > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.top {
  display: flex;
  align-items: center;
}

.warp {
  display: flex;
  flex-direction: column;
}

.commend {
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

.recommendWarp {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.recommendP {
  font-size: 18px;
  font-weight: bold;
}

.warp {
  margin-left: 10px;
}

.recom {
  font-size: 10px;
}

.star {
  display: flex;
  gap: 1;
}

.key {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  border: 1px solid #86b1e5;
  border-radius: 50px;
  color: #86b1e5;
  margin-right: 13px;
  margin-top: 16px;
  cursor: pointer;
  &:hover {
    color: #fff;
    transition-duration: 0.5s;
    background-color: #86b1e5;
  }
  user-select: none;
}

.first-line,
.second-line {
  display: flex;
}

.second-line {
  margin-left: 44px;
}

.keywordWarp {
  display: inline-block;
}

.even-Body {
  background-color: #ddfbe9;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
}

.even-Body > .infoWarp {
  margin-right: 50px;
}
.end {
  text-align: end;
}

.commend {
  text-align: start;
}

.last {
  margin-bottom: 150px;
}

.footer {
  width: 100%;
  background-color: #dce4ed;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 56px;
}

.left {
  display: flex;
  gap: 42px;
  align-items: center;
}

.line {
  width: 3px;
  height: 72px;
  background-color: #fff;
}

.emailWarp {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.emailWarp > p,
.footright > p {
  font-size: 10px;
  color: #ababab;
}

.emailWarp > p {
  margin: 2px 0px;
}

.footright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

.Img-warp {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100vw;
  margin-top: 50px;
  padding: 30px 0px;
}

li > img {
  width: 425px;
  height: 497px;
  cursor: pointer;
  z-index: 0;
}

.slideShow {
  position: relative;
  width: 425px;
  height: 497px;
  overflow: hidden;
}

.img-container {
  display: flex;
  align-items: center;
  position: absolute;
  transition: left 0.5s ease-in-out;
}

.before,
.before2,
.before3,
.before4 {
  border-radius: 0px 5px 5px 0px;
}

.after,
.after2,
.after3,
.after4 {
  border-radius: 5px 0px 0px 5px;
}

.arrow-wrap,
.arrow-wrap2,
.arrow-wrap3,
.arrow-wrap4 {
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

.arrow > i {
  color: #fff;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  margin-top: -250px;
  opacity: 0.8;
}
